#borda1{
	border-radius: 15px 55px 25px 55px;
	background: #219999;
	padding: 20px;
	width: 200px;
	height: 80px;
	display: inline-block;
}

#borda2{
	border-radius: 25px;
	border: 2px solid #03A9F4;
	padding: 20px;
	width: 200px;
	height: 80px;
	display: inline-block;
}

#borda3{
	border-radius: 25px;
	background: url(../img/water.jpg);
	background-position: left top;
	background-repeat: repeat;
	padding: 20px;
	width: 200px;
	height: 80px;
	display: inline-block;
}

#bordaImg1{
	width: 300px;
	height: 40px;
	border: 15px solid transparent;
	padding: 15px;
	-webkit-border-image: url(../img/img-border1.png) 50 round;/*Safari 3.1-5 */
	-o-border-image:url(../img/img-border1.png) 50 round;/*Opera 11-12.1 */
	border-image: url(../img/img-border1.png) 50 round;
	display:inline-block;
}

#bordaImg2{
	width: 300px;
	height: 40px;
	border: 15px solid transparent;
	padding: 15px;
	-webkit-border-image: url(../img/img-border1.png) 50 stretch;/*Safari 3.1-5 */
	-o-border-image:url(../img/img-border1.png) 50 stretch;/*Opera 11-12.1 */
	border-image: url(../img/img-border1.png) 50 stretch;
	display:inline-block;
}

#bordaImg3{
	width: 300px;
	height: 40px;
	border: 15px solid transparent;
	padding: 15px;
	-webkit-border-image: url(../img/img-border2.png) 20% round;/*Safari 3.1-5 */
	-o-border-image:url(../img/img-border2.png) 20%  round;/*Opera 11-12.1 */
	border-image: url(../img/img-border2.png) 20%  round;
	display:inline-block;
}

#bordaImg4{
	width: 300px;
	height: 40px;
	border: 15px solid transparent;
	padding: 15px;
	-webkit-border-image: url(../img/img-border2.png) 30% stretch;/*Safari 3.1-5 */
	-o-border-image:url(../img/img-border2.png) 30%  stretch;/*Opera 11-12.1 */
	border-image: url(../img/img-border2.png) 30%  stretch;
	display:inline-block;
}

#background1 {
	width: 500px;
	height: 270px;
	background-image: url(../img/back2.png), url(../img/back3.png), url(../img/back1.jpg);
	background-position: left bottom, right bottom, left top;
	background-size: 92px, cover, cover;
	background-repeat: no-repeat,no-repeat,no-repeat;
	display: inline-block;
}

#background2 {
	width: 90%;
	height: 160px;
	border: 5px solid black;
	background-image: url(../img/back2.png);
	background-size: 52px;
	background-repeat: no-repeat;
	background-origin: padding-box; /*border-box padding-box content-box */
	display: inline-block
}

#background3 {
	width: 300px;
	height: 160px;
	border: 10px dotted black;
	padding: 35px;
	background: rgb(107, 167,163);
	background-clip: border-box;
	/*border-box padding-box content-box */
	display: inline-block
}