<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>2D</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="stylesheet" type="text/css" href="../css/styleBase.css">
		<link rel="stylesheet" type="text/css" href="../css/css2d.css">
	</head>
	<body>
		<header>
			<h1 onmouseover="stopRotate()" id="test" style="transform: rotateY(0deg);">Teste Css</h1>	
		</header>
		
		<section>
			<h1 class="title"> 2D </h1>
		</section>
		
		<section>
			<div class="row">
				
				<div class="col-3">

				</div>
				
				<div class="col-3">
					<p class="translate" id="element">Exemplo</p>
				</div>
				
				<div class="col-3">

				</div>
				
				<div class="col-3">
	
				</div>
				
			</div>
		</section>
	</body>
</html>