<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<title>3D</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/css3d.css">
	<link rel="stylesheet" type="text/css" href="../css/styleBase.css">
</head>

<body>
	<header>
		<h1 onmouseover="stopRotate()" id="test" style="transform: rotateY(0deg);">Teste Css</h1>
	</header>

	<section>
		<h1 class="title"> 3D </h1>
	</section>

	<section>
		<div class="row">

			<div class="col-3">

			</div>

			<div class="col-3">
				<div id="div1">
					<div id="div2">Exemplo
						<div id="div3"> 3D</div>
					</div>
				</div>

			</div>

			<div class="col-3">

			</div>

			<div class="col-3">

			</div>

		</div>
	</section>
</body>

</html>