<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Background</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="stylesheet" type="text/css" href="../css/styleBase.css">
	</head>
	<body>
		<header>
			<h1 onmouseover="stopRotate()" id="test" style="transform: rotateY(0deg);">Teste Css</h1>	
		</header>
		
		<section>
			<h1 class="title"> Backgrounds </h1>
		</section>
		
		<section class="secao-exemplo">
			<p id="background1">background1</p>
			<p id="background2">background2</p>
			<p id="background3">background3</p>
		</section>
	</body>
</html>