<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>BordasArr</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="stylesheet" type="text/css" href="../css/styleBase.css">
	</head>
	<body>
		<header>
			<h1 onmouseover="stopRotate()" id="test" style="transform: rotateY(0deg);">Teste Css</h1>	
		</header>
		
		<section>
			<h1 class="title"> Bordas Arredondadas </h1>
		</section>
		
		<section class="secao-exemplo">
			<p id="borda1">Bordas arredondadas</p>
			<p id="borda2">Bordas arredondadas</p>
			<p id="borda3">Bordas arredondadas</p>
		</section>
		
		<script src="js/animacao.js"></script>
	</body>
</html>