<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>BordasImg</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="stylesheet" type="text/css" href="../css/styleBase.css">
	</head>
	<body>
		<header>
			<h1 onmouseover="stopRotate()" id="test" style="transform: rotateY(0deg);">Teste Css</h1>	
		</header>
		
		<section>
			<h1 class="title"> Bordas com Imagens </h1>
		</section>
		
		<section class="secao-exemplo">
			<p id="bordaImg1">Bordas  com imagem</p>
			<p id="bordaImg2">Bordas  com imagem</p>
			<p id="bordaImg3">Bordas  com imagem</p>
			<p id="bordaImg4">Bordas  com imagem</p>
		</section>
	</body>
</html>