<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Fontes</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="stylesheet" type="text/css" href="../css/styleBase.css">
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Orbitron|Pacifico" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1 onmouseover="stopRotate()" id="test" style="transform: rotateY(0deg);">Teste Css</h1>	
		</header>
		
		<section>
			<h1 class="title"> Fontes </h1>
		</section>
		
		<section>
			<div class="row">
				
				<div class="col-3">
					<p>Fonte 1 - Google Fontes</p>
					<p class="font1">
						Teste de fonte
					</p>
				</div>
				
				<div class="col-3">
					<p>Fonte 2 - Google Fontes</p>
					<p class="font2">
						Teste de fonte
					</p>
				</div>
				
				<div class="col-3">
					<p>Fonte 3 - Fonte Baixada</p>
					<p class="font3">
						Teste de fonte
					</p>
				</div>
				
				<div class="col-3">
					<p>Fonte 4 - Fonte Baixada</p>
					<p class="font4">
						Teste de fonte
					</p>
				</div>
				
			</div>
		</section>
	</body>
</html>