<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<title>Gradiente</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/styleBase.css">
</head>

<body>
	<header>
		<h1 onmouseover="stopRotate()" id="test" style="transform: rotateY(0deg);">Teste Css</h1>
	</header>

	<section>
		<h1 class="title"> Cores e Gradiente </h1>
	</section>

	<section class="secao-exemplo">
		<div class="row text-center">
			<div class="col-3">
				<p id="rgba1">RGBA</p>
				<p id="rgba2">RGBA</p>
				<p id="rgba3">RGBA</p>
			</div>
			<div class="col-3">
				<p id="hsl1">HSL</p>
				<p id="hsl2">HSL</p>
				<p id="hsl3">HSL</p>
			</div>
			<div class="col-3">
				<p id="hsla1">HSLA</p>
				<p id="hsla2">HSLA</p>
				<p id="hsla3">HSLA</p>
			</div>
			<div class="col-3">
				<p id="rgbo1">RGB Opacity</p>
				<p id="rgbo2">RGB Opacity</p>
				<p id="rgbo3">RGB Opacity</p>
			</div>
		</div>

		<div class="row text-center">
			<h1>Gradiente</h1>
			<div class="col-3">
				<p id="grad1">Linear</p>
			</div>
			<div class="col-3">
				<p id="grad2">Esquerda p/ Direita</p>
			</div>
			<div class="col-3">
				<p id="grad3">Diagonal</p>
			</div>
			<div class="col-3">
				<p id="grad4">Ângulos</p>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-3">
				<p id="grad5">Várias Cores</p>
			</div>
			<div class="col-3">
				<p id="grad6">Várias Cores de Esquerda p/ Direita</p>
			</div>
			<div class="col-3">
				<p id="grad7">Transparência</p>
			</div>
			<div class="col-3">
				<p id="grad8">Gradiente Radial</p>
			</div>
		</div>

	</section>
</body>

</html>
