<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<title>Sombras</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/styleBase.css">
</head>

<body>
	<header>
		<h1 onmouseover="stopRotate()" id="test" style="transform: rotateY(0deg);">Teste Css</h1>
	</header>

	<section>
		<h1 class="title"> Sombras </h1>
	</section>

	<section>
		<div class="row text-center">
			<div class="col-3">
				<h1 id="sombra1">Efeito de sombra no texto</h1>
			</div>
			<div class="col-3">
				<h1 id="sombra2">Efeito de sombra no texto</h1>
			</div>
			<div class="col-3">
				<h1 id="sombra3">Efeito de sombra no texto</h1>
			</div>
			<div class="col-3">
				<h1 id="sombra4">Efeito de sombra no texto</h1>
			</div>
		</div>
		<div class="row text-center">

			<div class="col-3">
			</div>

			<div class="col-3">
				<div class="card">
					<div class="header1">
						<h1>Titulo</h1>
					</div>
					<div class="container">
						<p>Descrição</p>
					</div>
				</div>
			</div>

			<div class="col-3">
				<div class="card">
					<img src="../img/water.jpg" alt="water" width="100%">
					<div class="container">
						<p>Descrição</p>
					</div>
				</div>
			</div>

			<div class="col-3">
			</div>

		</div>
	</section>
</body>

</html>