<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Textos</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="stylesheet" type="text/css" href="../css/styleBase.css">
	</head>
	<body>
		<header>
			<h1 onmouseover="stopRotate()" id="test" style="transform: rotateY(0deg);">Teste Css</h1>	
		</header>
		
		<section>
			<h1 class="title"> Textos </h1>
		</section>
		
		<section>
			<div class="row">
				<div class="col-3">
					<p class="text1">
						Esse é um texto de exemplo só para teste
					</p>
					<p class="text2">
						Esse é um texto de exemplo só para teste
					</p>	
					<p class="text3">
						Esse é um texto de exemplo só para teste
					</p>
				</div>
				
				<div class="col-3">
					<p class="text4">
						Esse é um texto de exemplo só para teste otorrinolaringologista1234
					</p>
						<p class="text5">
						Esse é um texto de exemplo só para teste otorrinolaringologista1234
					</p>	
				</div>
				
				<div class="col-3">
					<p class="text6">
						Esse é um texto de exemplo só para teste otorrinolaringologista1234
					</p>
					<p class="text7">
						Esse é um texto de exemplo só para teste otorrinolaringologista1234
					</p>
				</div>
				
				<div class="col-3">
	
				</div>
				
			</div>
		</section>
	</body>
</html>