<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Transição</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="stylesheet" type="text/css" href="../css/styleBase.css">
	</head>
<body>
	<header>
		<h1 onmouseover="stopRotate()" id="test" style="transform: rotateY(0deg);">Teste Css</h1>
	</header>

	<section>
		<h1 class="title"> Transição </h1>
	</section>

	<section>
		<div class="row">

			<div class="col-3">
				<p class="element1">Exemplos</p>
				<p class="element1 transicao1">Ease</p>
				<p class="element1 transicao2">Linear</p>
				<p class="element1 transicao3">Ease In</p>
				<p class="element1 transicao4">Ease Out</p>
				<p class="element1 transicao5">Ease In Out</p>
				<p class="element1 transicao6">Cubic Bezier</p>
				<p class="element1 transicao7">Delay</p>

			</div>
			<div class="col-3">
				<p class="element2">Exemplos</p>
			</div>

			<div class="col-3"></div>
			<div class="col-3"></div>

		</div>
	</section>
</body>
</html>